// Заголовки, общие БЄМ блоки и проче...

@font-face {
    font-family: "Averta Demo PE Cutted Demo";
    font-style: normal;
    font-weight: 400;
    src: local("Averta Demo PE Cutted Demo"), url("/fonts/averta.ttf") format("ttf");
}

* {
    font-family: "Averta Demo PE Cutted Demo", sans-serif;
    padding: 0;
    margin: 0;

}

$blackFont: #000000;
$white: #ffff;
$blue:#2639ED;
$lightBlue:#DAE9FF;
$lightOrange: #FFF5DB;

h1, h2 {
    font-size: 40px;
}

a {
    color: $blackFont;
    font-weight: bold;
}

p {
    color: #565656;
    line-height: 160%;
}

.wrapper {
    margin: 0 auto;
    padding: 0 120px 0 120px;
    max-width: 1440px;
}


.contact-btn {
    width: 215px;
    height: 65px;
    border: none;
    color: $white;
    background-color: $blue;
    border-radius: 60px;
    font-size: 20px;
    font-weight: 400;
    line-height: 25px;
    letter-spacing: 0.065em;
}

// Фигуры

.circle-small {
    width: 130px;
    height: 130px;
    border-radius: 50%;
    z-index: -1;
}

.blue {
    background: $lightBlue;
}

.orange {
    background: $lightOrange;
}

.rectangle-small {
    width: 178px;
    height: 178px;
    border-radius: 0px 0px 100px 0px;
    z-index: -1;
}