.header {
    height: 116px;
    display: flex;
    align-items: center;

    &__container {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;
       
        &_logo {
            .logo-link{
                display: flex;
            }
        }

        &_menu {
            .nav__list {
                display: flex;
                align-items: center;
                gap: 60px;
                list-style-type: none;
                // .nav__list_item

                &_item {

                    &-link {
                        text-decoration: none;
                    }
                }

                // .nav__list_item-link



            }

        }
    }
}